/**
 * Vendor
 *
 *= require bootstrap/dist/css/bootstrap
 */

/**
 * Application
 */

$brand-bg: #f8f6f5;
$brand-primary: #5f5e66;
$brand-secondary: #a79ea0;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  color: $brand-primary;
  background-color: $brand-bg;
}

a {
  color: $brand-secondary;
}

.shadow {
  box-shadow: 0px 5px 10px 0px rgba(39, 27, 36, 0.25);
}

.border {
  border-radius: 5px;
  border: 1px solid #CCC;
}

/**
 * Pages
 */

.index .jumbotron {
  background-color: #fff;
  margin-top: 50px;
  text-align: center;

  h1 {
    color: #B95D40;
      margin-top: 0;
      min-height: 70px;
  }

  h2 {
    min-height: 33px;
  }

  h3 {
    min-height: 26px;
  }

  .contact {
    min-height: 85px;

    .icon {
      display: inline-block;
      margin-bottom: 0;
      margin: 15px 10px;
    }
  }
}
