---
title: Derek Schaefer
---
<div class="main">
  <div class="window">
    <div class="title-bar">
      <div class="title-bar-text">
        Welcome!
      </div>
      <div class="title-bar-controls">
        <a href="https://github.com/derek-schaefer/derekschaefer.com">
          <button aria-label="Help"></button>
        </a>
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body">
      <p>Derek Schaefer</p>
      <p>Software Engineering Leader</p>
      <p>Denver, CO</p>
      <section class="field-row" style="justify-content: flex-end">
        <a href="https://github.com/derek-schaefer">
          <button>GitHub</button>
        </a>
        <a href="https://www.linkedin.com/in/derek-schaefer-484a9320/">
          <button>LinkedIn</button>
        </a>
        <a href="mailto:derek.schaefer@gmail.com?subject=Hi%2C%20Derek!">
          <button>Email</button>
        </a>
      </section>
    </div>
  </div>
</div>
